<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Science Lab" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.science-lab.academy" />
    <meta property="og:image" content="https://yourwebsite.com/assets/images/custom/ogimage1.jpg" />
    <meta property="og:description" content="Immerse yourself in the wonders of chemistry!" />

    <title>Science Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <%= javascript_importmap_tags %>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path 'logo/apple-touch-icon.png' %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path 'logo/favicon-32x32.png' %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path 'logo/favicon-16x16.png' %>">
    <link rel="manifest" href="<%= asset_path 'logo/site.webmanifest' %>">
    <link rel="mask-icon" href="<%= asset_path 'logo/safari-pinned-tab.svg' %>" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
